#snippet pdb
#	import pdb; pdb.set_trace()
#snippet ipdb
#	import ipdb; ipdb.set_trace()
snippet Test
	import unittest2 as unittest

	class Test${1}(unittest.TestCase):
		${2}
snippet log
	import logging

	log = logging.getLogger(__name__)
snippet View
	from five import grok

	class ${1}(grok.View):
		grok.name("${2}")
snippet __main
	if __name__ == '__main__':
		${1}
snippet brk
	from dbgp.client import brk; brk(host="localhost", port=9003)
